<h4>Co się udało zrobić:</h4>
<div class="container">
  <ul>
    <li>
      opisano w szczególach symulator Home I/O, jego funkcjonalność i
      możliwości, iine komponenty programowe niezbędne do tworzenia systemu
      automatyki;
    </li>
    <li>
      z Home I/O i TwinCAT 3 za pośrednictwem KEPServerEX stworzono system
      sterujący urządzeniami automatyki domowej w sposób minimalizujący udział
      człowieka;
    </li>
    <li>
      opisano dokładnie proces konfiguracji programów do wspólnej pracy,
      tworzenie globalnych list zmiennych, prototypowanie programów sterowania,
      napisanie programów w języku ST z uwzględnieniem różnic w scenariuszach w
      zależności od konfiguracji technicznej, poprawna kolejność uruchomienia
      systemu, sposób i wyniki testowania systemu;
    </li>
    <li>
      powyższy opis stanowi instrukcję, która może zostać użyta podczas zajęć
      praktycznych jako materiał dydaktyczny;
    </li>
    <li>przeanalizowano mocne i słabe strony symulatora Home I/O;</li>
    <li>
      określono i uzasadniono w jakich przypadkach zdaniem autora symulator może
      być przydatny do celów dydaktycznych.
    </li>
  </ul>
</div>
