.container {
  text-align: left;
  text-indent: 2rem;
}

.main-goal {
  font-size: 1.2rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.ul-title {
  font-weight: 500;
}

ul.questions {
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 3rem;
}

ol li {
  list-style-type: upper-roman;
  text-indent: 1rem;
}
