.container {
  //   display: flex;
  // align-items: baseline;
  //   justify-content: left;
  text-align: left;
  text-indent: 2rem;
}

.main-goal {
  //   font-weight: 500;
  font-size: 1.2rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
  //   text-decoration: underline;
}

.ul-title {
  font-weight: 500;
}

ul.questions {
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 3rem;
}

ol li {
  list-style-type: upper-roman;
  text-indent: 1rem;
  //   display:
}
