<div class="container">
  <p class="main-goal">
    Celem pracy głównym jest analiza i ocena symulatora Home I/O jako narzędzia
    do kształcenia w tematach związanych z automatyką, przede wszystkim
    budynkową.
  </p>

  <p class="ul-title">Pytania na które odpowiada praca:</p>
  <ul class="questions">
    <!-- <li> -->
    <li class="bi bi-play-fill">
      Czy Home I/O jest adekwatnym narzędziem dla kształcenia specjalistów w
      dziedzinie automatyki?
    </li>
    <!-- <li> -->
    <li class="bi bi-play-fill">
      W jakich przypadkach można stosować Home I/O w procesie dydaktycznym,
      jakie są oczekiwane wyniki takiego zastosowania?
    </li>
    <!-- <li> -->
    <li class="bi bi-play-fill">
      Czy Home I/O jest w stanie być jedynym narzędziem niezbędnym dla
      praktycznej nau-ki automatyki budynkowej?
    </li>
  </ul>

  <p class="ul-title">Cele wtórne/pośrednie:</p>
  <ol>
    <li>
      <!-- <li class="bi bi-play-fill"> -->
      Zaprojektowanie układu sterowania automatyką domową na podstawie Home I/O
      z udziałem innych niezbędnych komponentów (TwinCAT, KEPServerEX);
    </li>
    <li>
      <!-- <li class="bi bi-play-fill"> -->
      Opisanie postępowań w taki sposób, żeby powstały konspekt nadawał się do
      użycia jako instrukcja do zajęć praktycznych z rozpatrywanym symulatorem;
    </li>
    <li>
      <!-- <li class="bi bi-play-fill"> -->
      Wyciągnięcie wniosków na temat mocnych i słabych stron symulatora na
      podstawie zdobytej wiedzy i własnego doświadczenia;
    </li>
    <li>
      <!-- <li class="bi bi-play-fill"> -->
      Sformułowanie możliwych przypadków zastosowania Home I/O w procesie
      dydaktycznym, uzasadnienie które charakterystyki symulatora są kluczowe w
      danym zastosowaniu;
    </li>
    <li>
      <!-- <li class="bi bi-play-fill"> -->
      Propozycje co do uskutecznienia symulatora.
    </li>
  </ol>
</div>
