<div class="container-fluid">
  <div class="row d-flex">
    <div class="col-auto">
      <img
        class="navbar-brand"
        src="../../../assets/Politechnika_Warszawska.png"
        alt="PW logo"
      />
    </div>

    <div class="col-auto">
      <img
        class="navbar-brand"
        src="../../../assets/WMech-znak-small-mod.png"
        alt="Mechatronika logo"
      />
    </div>
    <div class="col d-flex"></div>
    <div class="col-auto d-flex">
      <p>slajd: {{ this.currentPageNr }} / {{ this.nrOfPages }}</p>
    </div>
  </div>
</div>
