<div class="container-fluid">
  <div class="row d-flex">
    <div class="col-auto">
      <img
        class="navbar-brand PW-logo"
        src="../../../assets/Politechnika_Warszawska.png"
        alt="PW logo"
      />
    </div>

    <div class="col-auto">
      <img
        class="navbar-brand"
        src="../../../assets/WMech-znak-small-mod.png"
        alt="Mechatronika logo"
      />
    </div>
    <div class="col d-flex"></div>
    <div class="col-auto d-flex">
      <p>
        slajd: {{ this.navService.currentSlideIndexSignal() + 1 }} /
        {{ this.navService.TotalNumberOfSlides }}
      </p>
    </div>
  </div>
</div>
