@import "../../theme";

$dimension: (1/12) * 100vw;
.navigation-body {
  height: 85vh;
  display: flex;
  //   justify-content: right;
  align-items: center;
}

button {
  padding: 0;
  display: block;
  width: $dimension;
  height: $dimension;
  font-size: 60px;
  color: $colorMainPW;
  background-color: transparent;
  border-style: none;
}
