<div class="navigation-body">
  <!-- <button (click)="navigateToPrevious()">Previous</button>
  <button (click)="navigateToNext()">Next</button> -->
  <button
    *ngIf="
      this.navService.currentSlideIndexSignal() != 0 && this.type == 'previous'
    "
    (click)="navigateToPrevious()"
  >
    Previous
  </button>
  <button
    *ngIf="
      this.navService.currentSlideIndexSignal() !=
        this.navService.TotalNumberOfSlides - 1 && this.type == 'next'
    "
    (click)="navigateToNext()"
  >
    Next
  </button>
</div>
