$cardDimensions: 35vh;

.row {
  align-items: center;
  justify-content: center;
}

.col-auto {
  padding: 0px;
}

.card {
  display: flex;
  align-items: center;
  justify-content: baseline;
  text-align: left;
  width: 1.2 * $cardDimensions;
  height: $cardDimensions;
  margin: 10px 12px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.card-img-top {
  width: (0.8 * $cardDimensions);
  height: (0.8 * $cardDimensions) / 2;
  object-fit: contain;
}

.card-title {
  font-size: 20px;
  font-weight: bold;
}

.card-text {
  font-size: 14px;
  text-align: justify;
}
