<div class="container-fluid">
  <div class="row d-flex" *ngFor="let row of ProgramsData">
    <div class="col-auto" *ngFor="let column of row">
      <div class="card">
        <img [src]="column.imgSrc" class="card-img-top" />
        <div class="card-body">
          <p class="card-title">{{ column.cardTitle }}</p>
          <!-- <p class="card-subtitle"> -->
          <!-- Lorem ipsum dolor sit amet, consectetur adipisicing.
          </p> -->
          <p class="card-text">
            {{ column.cardText }}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
