.container-fluid {
  justify-content: center;
}

.content {
  margin-top: 3rem;
}

.home-io-screenshot {
  max-width: 100%;
  object-fit: contain;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

mat-tab-group {
  width: 70%;
}

p {
  text-align: justify;
  text-indent: 2rem;
}

li {
  //   text-align: justify;
  text-align: left;
  padding-bottom: 0.15rem;
  &.bi::before {
    margin-right: 0.5rem;
  }
}

table {
  font-size: 0.8rem;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

td {
  padding: 4px;
}
