@import "../../theme";
* {
  color: $colorMainPW;
}

.row {
  height: $bodyHeight;
}

.col-8,
.col-9 {
  flex-direction: column;
  justify-content: space-evenly;
}

.col-3 {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

img {
  object-fit: contain;
  max-width: 80%;
}
