@import "../../theme";

.default-el {
    background-color: $slideBackgroundColor;
    border-color: darkblue;
    border-style:solid;
    min-height: 90vh;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

router-outlet {
    border-color:brown;
    min-height: 1vh;
    display: flex;
}

.header, .footer {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 5vh;
    background-color: $colorAccentPW;
    margin: 0px;
    // text-align: center;
}