<app-header></app-header>
<div class="container-fluid">
  <div class="row">
    <div class="col-1 default-el">
      <app-navigation-arrow
        [type]="navArrowType.previous"
      ></app-navigation-arrow>
    </div>

    <div class="col app-body">
      <div class="row slidename">
        <div class="col">
          {{ this.navService.currentSlideNameSignal() }}
        </div>
      </div>

      <div class="row">
        <div class="col default-el">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>

    <div class="col-1 default-el">
      <app-navigation-arrow [type]="navArrowType.next"></app-navigation-arrow>
    </div>
  </div>
</div>
<app-footer></app-footer>
