@import "../app/theme";
* {
  background-color: $slideBackgroundColor;
}

.app-body {
  // background-color: $slideBackgroundColor;
  // border-color: darkblue;
  // border-style: solid;
  // min-height: 80vh;
  text-align: center;
  min-height: 90vh;

  //   display: flex;
  //   align-items: center;
  //   justify-content: center;
}

router-outlet {
  // min-height: 80vh;
  border-color: brown;
  // min-height: 1vh;
  display: flex;
}

.slidename {
  height: 10vh;
  display: flex;
  align-items: center;
}
