@import "../app/theme";
* {
  background-color: $slideBackgroundColor;
}

.app-body {
  height: $bodyHeight;
  text-align: center;
  //   align-items: center;
  //   justify-content: center;
}

router-outlet {
  display: flex;
}

.slidename {
  height: 10vh;
  display: flex;
  align-items: center;
  font-size: 30px;
  font-weight: 500;
  // color: $colorMainPW;
  color: #3d3c4c;
}

app-navigation-arrow {
  display: flex;
  justify-content: center;
  // align-items:
  /*   border: 5px;
  border-style: solid; */
  margin: 0px;
}
